---
import RichResults from "@/components/RichResults.astro";

interface Preload {
    as: string;
    href: string;
    type: string;
    rel?: "preload" | "prefetch";
    crossorigin?: string;
}

interface Props {
    title: string;
    description: string;
    preload?: Array<Preload>;
    canonical?: string;
    image?: string;
}

const {
    title,
    description,
    preload,
    canonical,
    image = "https://www.elrinconcitoquincho.cl/metadata.jpg",
} = Astro.props as Props;
---

<title>{title}</title>

<meta charset="UTF-8" />
<meta name="description" content={description} />

{
    preload?.map(({ href, as, type, rel = "preload", crossorigin }) => (
        <link {rel} {href} {as} {type} {crossorigin} />
    ))
}

<link rel="canonical" href={canonical} />
<meta name="viewport" content="width=device-width" />
<meta name="theme-color" content="#84cc16" />

<meta
    name="keywords"
    content="piscinas, quincho, tinajas, arriendo, la serena, coquimbo, el rinconcito, el rinconcito quincho, el rinconcito la serena, el rinconcito coquimbo, arriendo piscinas, arriendo quincho, arriendo tinajas, arriendo la serena, arriendo coquimbo, piscinas la serena, piscinas coquimbo, quincho la serena, quincho coquimbo, tinajas la serena, tinajas coquimbo, piscinas privadas, quincho privado, tinajas privadas, piscinas privadas la serena, quincho privado la serena, tinajas privadas la serena, piscinas privadas con tinajas, piscinas privadas con quincho, piscinas privadas"
/>

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content={title} />
<meta name="twitter:description" content={description} />
<meta name="twitter:image" content={new URL(image, Astro.url)} />

<meta property="og:image" content={new URL(image, Astro.url)} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:url" content={Astro.url} />
<meta property="og:site_name" content="El Rinconcito" />
<meta property="og:type" content="website" />
<meta property="og:locale" content="es_ES" />

<meta name="robots" content="index, follow" />
<meta name="googlebot" content="index, follow" />

<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link rel="apple-touch-icon" href="/favicon.svg" />

<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta name="msapplication-config" content="/browserconfig.xml" />

<script async src="https://www.googletagmanager.com/gtag/js?id=G-Z08J3JBV1W"
></script>
<script>
    //@ts-ignore
    window.dataLayer = window.dataLayer || [];
    function gtag() {
        //@ts-ignore
        dataLayer.push(arguments);
    }
    //@ts-ignore
    gtag("js", new Date());
    //@ts-ignore
    gtag("config", "G-Z08J3JBV1W");
</script>

<!-- <script is:inline src="/registerSW.js"></script> -->
<!-- <link rel="manifest" href="/manifest.webmanifest" /> -->
<RichResults />
