---
import RichResults from "@/components/RichResults.astro";

interface Preload {
    as: string;
    href: string;
    type: string;
    rel?: "preload" | "prefetch";
    crossorigin?: string;
}

interface Props {
    title: string;
    description: string;
    preload?: Array<Preload>;
    canonical?: string;
    image?: string;
}

const {
    title,
    description,
    preload,
    canonical,
    image = "https://www.elrinconcitoquincho.cl/metadata.jpg",
} = Astro.props as Props;
---

<title>{title}</title>

<meta charset="UTF-8" />
<meta name="description" content={description} />

{
    preload?.map(({ href, as, type, rel = "preload", crossorigin }) => (
        <link {rel} {href} {as} {type} {crossorigin} />
    ))
}

<link rel="canonical" href={canonical} />
<meta name="viewport" content="width=device-width" />
<meta name="theme-color" content="#84cc16" />

<meta
    name="keywords"
    content="piscinas en La Serena, piscinas privadas en La Serena, piscinas en Coquimbo, piscinas privadas en Coquimbo, quincho en La Serena, quincho privado en La Serena, quincho en Coquimbo, quincho para cumpleaños en La Serena, quincho para eventos en Coquimbo, tinajas en La Serena, tinajas privadas en La Serena, tinajas en Coquimbo, tinajas de agua caliente en La Serena, tinajas de agua caliente en Coquimbo, tinajas para embarazadas en La Serena, tinajas para parejas en Coquimbo, arriendo de quincho en La Serena, arriendo de quincho en Coquimbo, arriendo de piscinas en La Serena, arriendo de piscinas en Coquimbo, arriendo de tinajas en La Serena, arriendo de tinajas en Coquimbo, eventos familiares en La Serena, celebraciones familiares en Coquimbo, cumpleaños con piscina en La Serena, paseos de empresa en La Serena, paseos de empresa en Coquimbo, panoramas familiares en La Serena, panoramas familiares en Coquimbo, relajo en Pan de Azúcar, experiencias de relajo en La Serena, quincho con piscina en Pan de Azúcar, tinajas de relajo en Pan de Azúcar, espacios privados en La Serena, espacios privados en Coquimbo, piscina exclusiva en La Serena, quincho rústico en La Serena, quincho natural en Pan de Azúcar, cumpleaños en Pan de Azúcar, eventos en Pan de Azúcar, celebraciones en Pan de Azúcar, tinajas familiares en La Serena, relajo en tinajas en Coquimbo, tinajas para parejas en La Serena, arriendo de espacios privados en Coquimbo, arriendo de tinajas privadas en Pan de Azúcar"
/>

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content={title} />
<meta name="twitter:description" content={description} />
<meta name="twitter:image" content={new URL(image, Astro.url)} />

<meta property="og:image" content={new URL(image, Astro.url)} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:url" content={Astro.url} />
<meta property="og:site_name" content="El Rinconcito" />
<meta property="og:type" content="website" />
<meta property="og:locale" content="es_ES" />

<meta name="robots" content="index, follow" />
<meta name="googlebot" content="index, follow" />

<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link rel="apple-touch-icon" href="/favicon.svg" />

<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta name="msapplication-config" content="/browserconfig.xml" />

<script async src="https://www.googletagmanager.com/gtag/js?id=G-Z08J3JBV1W"
></script>
<script>
    //@ts-ignore
    window.dataLayer = window.dataLayer || [];
    function gtag() {
        //@ts-ignore
        dataLayer.push(arguments);
    }
    //@ts-ignore
    gtag("js", new Date());
    //@ts-ignore
    gtag("config", "G-Z08J3JBV1W");
</script>

<!-- <script is:inline src="/registerSW.js"></script> -->
<!-- <link rel="manifest" href="/manifest.webmanifest" /> -->
<RichResults />
